<p *appModal="tpl">demo04 works!</p>
<ng-template #tpl>
  {{demo04Form.form.value|json}}
</ng-template>
<form #f="ngForm" (ngSubmit)="mySubmit(f.value)" [formGroup]="demo04Form.form">
  <div>
    <input type="checkbox" formControlName="name">
    <input type="text" appMyForm formControlName="age">
    <h1 class="a">
      {{demo04Form.form.get('age')?.hasError('required')}}
      <hr>
      {{f.form.get('age')?.hasError('required')}}
      <hr>
      {{demo04Form.form.controls['age'].errors|json}}
      <hr>
      {{f.form.controls['name'].errors|json}}
      <hr>
      valid =>{{f.form.valid|json}}
    </h1>
  </div>
  <div formArrayName="books">
    <ng-container *ngFor="let item of  [1,2,3,4];index as i " [formGroupName]="i">

      <input type="checkbox" formControlName="val">
    </ng-container>
  </div>
  <input type="submit" value="SUBMIT">
</form>
<ng-template appDom>hello, world!</ng-template>
<app-main>
  <p class="uuu">12345</p>
  <app-demo05></app-demo05>
</app-main>
