.wrap {
  width: 90%;
  margin: auto;
  padding: auto;
}
/* p { white-space:nowrap; } */
/* p { word-wrap:break-word; }
 */
p {
  word-break: break-word;
}
p {
  text-overflow: ellipsis;
  overflow: hidden;
}
.word {
  background: #e4ffe9;
  width: 250px;
  margin: 50px auto;
  padding: 20px;
  font-family: "microsoft yahei";
}
/* 强制不换行 */
.nowrap {
  white-space: nowrap;
}
/* 允许单词内断句，首先会尝试挪到下一行，看看下一行的宽度够不够，
不够的话就进行单词内的断句 */
.breakword {
  word-wrap: break-word;
}
/* 断句时，不会把长单词挪到下一行，而是直接进行单词内的断句 */
.breakAll {
  word-break: break-all;
}
/* 超出部分显示省略号 */
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}
