/**弹出图片样式*/

:host ::ng-deep .am-modal-transparent {
  /*height:50% ;*/
  width: 95%;
  margin-top: 0;
}
:host ::ng-deep .am-modal-transparent .am-modal-content {
  border-radius: 7px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}
:host ::ng-deep .am-modal-transparent .am-modal-content .am-modal-body {
  padding: 0 0 0;
}
:host ::ng-deep .am-modal-body {
  font-size: 15px;
  color: #888;
}

img {
  max-width: 300px;
  max-height: 300px;
  height: auto;
  zoom: expression(
    function(e) {if(e.width>e.height) {if (e.width>128) {e.height = e.height * (128 / e.width) ; e.width=128;}} else {if (e.height>128) {e.width
      = e.width * (128 / e.height) ; e.height=128;}} e.style.zoom = '1' ; }(this)
  );
  overflow: hidden;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
}
span {
  position: relative;
  margin: 50px auto;
  border: 1px solid;
}
span[aria-label]:hover:after {
  content: attr(aria-label);
  position: absolute;
  bottom: 30px;
  left: 0;
  border: 1px solid;
  width: 100%;
}
.btn {
  display: inline-block;
  padding: 5px 20px;
  border-radius: 4px;
  /* background-color: #6495ed; */
  /* color: #fff; */
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  position: relative;
}
c {
  content: attr(data-tip);
  width: 80px;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: #fff;
  color: rgb(204, 204, 204);
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  opacity: 0;
  transition: all 0.3s;
}
.btn::after {
  content: '';
  border: 8px solid transparent;
  border-top: 8px solid #fff;
  position: absolute;
  top: -3px;
  left: 50%;
  transform: translate(-50%);
  opacity: 0;
  transition: all 0.3s;
}
.btn:hover::before {
  top: -40px;
  opacity: 1;
}
.btn:hover::after {
  top: -13px;
  opacity: 1;
}
