<div [formGroup]="formgroup">
  {{value}}
  {{formgroup.value|json}}
  <hr>
  <input type="checkbox" (change)="changeAll($event)" [checked]="value">selectAll
  <hr>
  <div formArrayName="zhs">
    <div *ngFor="let control of zhs.controls;let i=index ">
      <div [formArrayName]="i">{{i+1}}
        <input type="checkbox" [checked]="all(getZhs_index(i))" (change)="seti($event,i)">select
        <div *ngFor="let jtem of [1,2,3];index as j">
          <input type="checkbox" [formControlName]="j">{{ jtem }}
        </div>
      </div>
    </div>
  </div>
  <hr>
  <input type="checkbox" id="me" [checked]="false">
  <input type="checkbox" [checked]="true">
