input[type="date"] {
  display: flex;
  padding-left: 10px;
  padding-right: 550px;
  font-size: 16px;
  line-height: 24px;
}

input[type="date"]:before {
  content: attr(placeholder);
  padding-left: 20px;
  color: var(--gray-rgba-116116116);
  font-size: 16px;
  line-height: 22px;
}

input[type="date"].selected:before {
  content: "" !important;
}

input[type="date"]::-webkit-datetime-edit-year-field {
  position: relative;
  left: 10px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: relative;
  left: -120px;
  background-image: url("src/assets/img/a.jpg");
}
div {
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 50%;
  background: conic-gradient(from 60deg at 20% 20%, green 40%, orange 40%);
  background: conic-gradient(red, magenta, blue, aqua, lime, yellow, red);
  background-image: radial-gradient(
    transparent 0,
    transparent 49%,
    orange 50%,
    orange 100%
  );
}
.f {
  font-size: 30px;
  border: 8px solid #222;
  padding: 20px;
  border-image: conic-gradient(
      from var(--angle),
      pink,
      #e6d3ff 0.1turn,
      pink 0.15turn,
      #393b3e 0.25turn
    )
    20;
  animation: aa 3s linear infinite forwards;
}

@keyframes aa {
  100% {
    --angle: 420deg;
  }
}

.loading {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: conic-gradient(
    pink,
    #333 var(--per),
    transparent var(--per),
    transparent 100%
  );
  transition: --per 300ms linear;
  animation: l 50s infinite linear;
}

@keyframes l {
  to {
    --per: 102%;
  }
}
