<div tabindex="-1" class="{{open_close}}" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <ng-content></ng-content>
      </div>
      <div class="modal-footer">
        <button type="button" *ngIf="isFooter" (click)="hideModal()" class="btn btn-default">Close</button>
      </div>
    </div>
  </div>
</div>
