<!--
 * @Author: matu-lgs 442285570@qq.com
 * @Date: 2023-01-09 18:42:31
 * @LastEditors: matu-lgs 442285570@qq.com
 * @LastEditTime: 2023-01-10 00:06:48
 * @FilePath: /demo01/src/app/app.component.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<!-- <div class="container">
  <div class="row">
    <div>
      <input #greetInput id="greet-input" placeholder="Enter a name..." />
      <button type="button" (click)="greet(greetInput.value)">Greet</button>
    </div>
  </div>
  <p>{{ greetingMessage }}</p>
</div> -->
<app-demo02></app-demo02>